{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row pt-4 pl-3 d-flex justify-content-between">
      <h4>Recommendation For You</h4>
      <a class="btn btn-success" href="{% url 'smartphone' %}">Back <span class="sr-only">(current)</span></a>
    </div>
    <hr>
    <div class="row pl-4 pr-4">
      {% for smartphone in smartphones_dict %}
      <div class="col-md-4 mt-4">
      <div class="card" style="width: 18rem;">
        {% load static %}
        <img class="img-fluid pt-4" src="{% static 'img/4.png' %}" alt="Card image cap">
        <hr>
        <div class="card-body">
          <h5 class="card-title">{{ smartphone.smartphone_name }}</h5>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

