{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4">
        {% load static %}
        <img class="card-img-top" src="{% static 'img/2.jpg' %}" alt="Card image cap">
      </div>
      <div class="col-md-8 mt-4">
        <div class="card" style="">
            <div class="card-body">
              <h5 class="card-title">Redmi Note 9 Pro</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">RAM : 6</li>
              <li class="list-group-item">ROM : 128</li>
              <li class="list-group-item">Battery : 6000 MAh</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
{% endblock %}